
body {
	background-color: #FFFCF7;
}



.ui.huge.header {
	font-suze: 3em;
}

.ui.icon.button .ui.icon.buttons .button {
	padding: 6px;
}

i.large.icons {
	font-size: 2em;
}

.parent {
	position: relative;
	min-height: 100vh;
}

.child {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: 'Wire One', sans-serif;
	color: #959199;
}
h3 {
	font-family: 'Wire One', sans-serif;
	color: #959199;
}
.label {
	font-family: 'Wire One', sans-serif;
	font-size: 20px !important;
	font-weight: bold;

}
.about {
	text-align: left;
}
.about p {
	font-size: 30px;
	font-family: 'Wire One', sans-serif;
	color: #959199;
}
.title {
	font-size: 60px;
	font-weight: bold;
	font-family: 'Wire One', sans-serif;
	color: #959199;
	padding-bottom: 40px;
}
.authors {
	font-size: 30px;
	font-family: 'Wire One', sans-serif;
	color: #959199;
	padding-bottom: 30px;
}
.ui.basic.button {
	font-family: 'Wire One', sans-serif;
	font-weight: bold;
	font-size:24px;
	padding: 15px;
}

#username:focus {
	border-color: #959199;
}

#password:focus {
	border-color: #959199;
}
.generate {
	text-align:right;
	padding-top: 100px;
}
.image_container p {
	padding-top: 25px;
	text-align: center;
	font-family: 'Wire One', sans-serif;
    font-size:60px;	
    color:959199;
}
.image_container img {
	padding-top: 60px;
	padding-bottom: 80px;
	margin: auto;
	display:block;
	width: 540px;
	height:auto;
}